<section data-ng-controller="AuthenticationController">			
	<div class="scrollable">
		<div class="scrollable-content section">
			<h3 class="text-center">Signin with Dropbox</h3>		   
			<div class="col-md-12 text-center">
				<a href="/auth/dropbox" class="undecorated-link">
					<img src="/modules/users/img/buttons/dropbox-small.png">
				</a>
			</div>
			<p>&nbsp;</p>
			<!-- <h4 class="text-center">Or with your account</h4>
			<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off" action="" id="">	
				<div class="panel">
  					<div class="panel-body">     					
						<div class="form-group row">
							<div class="form-control-wrapper col-xs-12">
								<input type="text" id="username" name="username" data-ng-model="credentials.username" placeholder="username" class="form-control">
							</div>
						</div>		       		      
						<div class="form-group row">
							<div class="form-control-wrapper col-xs-12">
								<input type="password" id="password" name="password" data-ng-model="credentials.password" placeholder="password" class="form-control"> 
							</div>
						</div>		        		       						
						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
		  			</div>
				</div>				
				<div bs-panel class="form-actions">			      					
			        <div class="text-center">
						<button type="submit" class="btn btn-primary btn-block">Sign in</button>
					</div>

					<div class="forgot-password text-center">
						<a href="/#!/password/forgot">Forgot your password?</a>
					</div>					
			    </div>
		   	</form>						
			<div class="text-center">
				<a class="btn btn-default" href="/#!/signup">Sign up</a>
			</div> -->
		</div>
	</div>
</section>