@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
/*
[data-ui-view].ng-enter,
[data-ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[data-ui-view].ng-enter {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
       -o-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

[data-ui-view].ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

[data-ui-view].ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

[data-ui-view].ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
     -moz-transform: translate3d(-100%, 0, 0);
       -o-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
*/
*{font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}
a.list-group-item {position: relative;}
a.list-group-item .list-group-item-icon {position: absolute;top: 50%;right: 1%;margin-top: -10px;}
a.list-group-item .fa-chevron-right {display: none;}
a.list-group-item:hover .fa-chevron-right,a.list-group-item:focus .fa-chevron-right{display: block}
i.indicator {color:green;}
i.indicator.uploading{color:red;}
.date{font-size: .9em;font-style: italic;}
#case-list .list-group-item-text { padding: 5px 0px 5px 5px}
.navbar-absolute-bottom.navbar-app .btn, .navbar-absolute-bottom.navbar-app .btn-navbar {line-height: 30px;}
.has-navbar-bottom .app-body {padding-bottom: 30px;}
#case-list{padding-top: 40px;}
#case-list a.list-group-item.active, #case-list a.list-group-item.active:focus{
  background: #DAEAEC;
  border-color: #fff;
  color: #000;
}
#case-list a.list-group-item.active .list-group-item-text,#case-list a.list-group-item.active:focus .list-group-item-text{
  color: #000
}
.app-search{
	border-bottom: 2px solid #0099CC;
	background: transparent;
	padding-bottom: 0;
  font-size: 1.2em;	
}
.app-search.ng-valid.ng-dirty{border-bottom: 2px solid #0099CC;}
.app-search-container{
	width: 70%;
	margin: 0 auto;	
	position: relative;
}
.app-search-container:before, .app-search-container:after{
  content:'';
  display: block;
   
  position: absolute;
  bottom: 2px;
   
  height: 6px;
  border-left: 2px solid #0099CC;
}
.app-search-container:before{
  left: 0;
}
.app-search-container:after{
  right: 0;
}
.form-control{border-radius:0;}
.form-horizontal .form-group{padding-top: 0;}
.btn.btn-navbar{padding-left: 7px;padding-right: 7px;}
.fa.fa-lg{font-size: 1.22em;}
/*.list-group-item.media { margin: 5px;}
a.list-group-item:hover {background-color: #007AFF;}*/

#userProfile .control-label{text-align: right;}
#userProfile .form-group{padding: 2px 0;}
#userProfile .form-control {height: 30px; padding: 3px 6px}
#userProfile .control-label {line-height: 30px;padding-right: 0;}
#userProfile textarea.form-control{height: auto;}

#userAccount .form-group{padding: 0;}

/*INVOICE*/

#invoice textarea{border:none;overflow: hidden; resize: none; border-bottom: 1px solid #f5f5f5;outline: none;}
#invoice #meta, #invoice #totals table {width: 100%}
#invoice #meta td, #invoice #totals td{width: 50%}
#invoice #meta .meta-head, #invoice #totals .total-head{text-align: right;padding-right: 10px;font-weight: bold}
#invoice #totals .total-value {text-align: left;}

#invoice #meta td textarea,#invoice #totals td textarea { width: 100%; height: 20px; text-align: left; }
#invoice #company {height: 20px;}
#invoice #identity textarea{width: 100%;}
#invoice .panel {margin-bottom: 10px;}
#invoice .panel-heading{padding: 5px 10px;font-weight: bold;color:#000;letter-spacing: .2em;}
#invoice .panel-heading h2{font-size:15px;color: #555;text-transform: uppercase; }

#invoice .item {margin:7px; margin-bottom: 20px;border-bottom: 1px dashed #DDD; padding:10px; border: 1px solid #ddd;}
#invoice .item textarea {height: 20px}
#invoice .item .description {width: 100%;height: 40px;}
#invoice .item .cost,#invoice .item .qty {width: 50px}
#invoice .item .list-group-item-text strong{font-size: 12px;}
#invoice .item .list-group-item-text{padding-top: 10px;}
#invoice .item .price {font-size: 16px;}

button.btn:disabled {
  cursor: not-allowed;
  pointer-events:auto;
}

.dropbox-connect .active{background-color: #DAEAEC;}