<section class="row" data-ng-controller="SettingsController">
	<div content-for="title">
	    <span>Profile</span>
	</div>	
	<div content-for="navbarActionLeft">            
		<a href="#!/" class="btn btn-navbar">
			<i class="fa fa-home fa-lg"></i>
		</a>
    </div>	
    <div content-for="navbarBottomLeft">
	  <button data-ng-click="updateUserProfile(userForm.$valid)" class="btn btn-navbar pull-left">
	    <i class="fa fa-save fa-lg"></i>
	  </button>
	</div>
    <div id="userProfile" class="scrollable">  
		<div class="scrollable-content">
			<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" >
				<br>
				<div bs-panel title="">	     					
					<input bs-form-control type="text" ng-model="userProfile.companyName" label="Company" 
			        label-class="col-xs-4 col-sm-2 col-lg-3" class="col-xs-8 col-sm-10 col-lg-9"
			        placeholder=""/>		        		      
			        <input bs-form-control type="text" ng-model="userProfile.firstName" label="First" 
			        label-class="col-xs-4 col-sm-2 col-lg-3" class="col-xs-8 col-sm-10 col-lg-9"
			        required placeholder=""/>		        		       
			        <input bs-form-control type="text" ng-model="userProfile.lastName" label="Last" 
			        label-class="col-xs-4 col-sm-2 col-lg-3" class="col-xs-8 col-sm-10 col-lg-9"
			        required placeholder=""/>	
			        <input bs-form-control type="text" ng-model="userProfile.phone" label="Phone" 
			        label-class="col-xs-4 col-sm-2 col-lg-3" class="col-xs-8 col-sm-10 col-lg-9"
			        required placeholder=""/>	
			        <input bs-form-control type="text" ng-model="userProfile.email" label="Email" 
			        label-class="col-xs-4 col-sm-2 col-lg-3" class="col-xs-8 col-sm-10 col-lg-9"
			        required placeholder=""/>	
			        <textarea rows="3" bs-form-control ng-model="userProfile.invoiceBillingTerms" label="Billing Terms" 
			        label-class="col-xs-4 col-sm-2 col-lg-3" class="col-xs-8 col-sm-10 col-lg-9"
			        required placeholder=""></textarea>
			        <input bs-form-control type="text" ng-model="userProfile.companyAddress1" label="Address1" 
			        label-class="col-xs-4 col-sm-2 col-lg-3" class="col-xs-8 col-sm-10 col-lg-9"
			        placeholder=""/>	

			        <input bs-form-control type="text" ng-model="userProfile.companyAddress2" label="Address2" 
			        label-class="col-xs-4 col-sm-2 col-lg-3" class="col-xs-8 col-sm-10 col-lg-9"
			        placeholder=""/>	

			        <input bs-form-control type="text" ng-model="userProfile.companyCity" label="City" 
			        label-class="col-xs-4 col-sm-2 col-lg-3" class="col-xs-8 col-sm-10 col-lg-9"
			        placeholder=""/>	

			        <input bs-form-control type="text" ng-model="userProfile.companyState" label="State" 
			        label-class="col-xs-4 col-sm-2 col-lg-3" class="col-xs-8 col-sm-10 col-lg-9"
			        placeholder=""/>	
			        <input bs-form-control type="text" ng-model="userProfile.companyZip" label="Zip" 
			        label-class="col-xs-4 col-sm-2 col-lg-3" class="col-xs-8 col-sm-10 col-lg-9"
			        placeholder=""/>		    
			        <div data-ng-show="success" class="text-center text-success">
						<strong>Profile Saved Successfully</strong>
					</div>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>	
				</div>
				<div bs-panel class="form-actions">			      					
					<input type="submit" class="btn btn-large btn-primary btn-block" value="Save Profile"/>												        			   
			    </div>				
			</form>	
		</div>
	</div>
</section>