<section class="row" data-ng-controller="SettingsController">
	<!-- <h3 class="col-md-12 text-center" data-ng-show="hasConnectedAdditionalSocialAccounts()">Connected social accounts:</h3>
	<div class="col-md-12 text-center">
		<div data-ng-repeat="(providerName, providerData) in user.additionalProvidersData" class="remove-account-container">
			<img ng-src="/modules/users/img/buttons/{{providerName}}.png">
			<a class="btn btn-danger btn-remove-account" data-ng-click="removeUserSocialAccount(providerName)">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
	</div> -->
	<div data-ng-hide="isConnectedSocialAccount('dropbox')">
		<h4 class="col-md-12 text-center">Connect to your dropbox account:</h4>
		<div class="col-md-12 text-center">
			<a href="/auth/dropbox" class="undecorated-link">
				<img src="/modules/users/img/buttons/dropbox.png">
			</a>			
		</div>
	</div>
	<div data-ng-show="isConnectedSocialAccount('dropbox')">
		<h4 class="col-md-12 text-center">You're connected!</h4>
		<div class="col-md-12 text-center">
			<div class="remove-account-container">
				<img ng-src="/modules/users/img/buttons/dropbox.png">
				<a class="btn btn-danger btn-remove-account btn-xs" data-ng-click="removeUserSocialAccount('dropbox')">
					<i class="fa fa-times-circle"></i>
				</a>
			</div>			
		</div>
	</div>
	
</section>