<section data-ng-controller="SettingsController">
	<div content-for="navbarActionLeft">            
		<a href="#!/" class="btn btn-navbar">
			<i class="fa fa-home fa-lg"></i>
		</a>
    </div>	
    <div id="userAccount" class="scrollable">  
		<div class="scrollable-content">
			<div class="dropbox-connect" data-ng-hide="isConnectedSocialAccount('dropbox')" bs-panel title="Connect Dropbox:">	     									
				<div class="text-center">
					<a href="/auth/dropbox" class="undecorated-link btn btn-default">
						<img width="60" src="/modules/users/img/buttons/dropbox.png">
					</a>			
				</div>
			</div>
			<div class="dropbox-connect" data-ng-show="isConnectedSocialAccount('dropbox')" bs-panel title="You're now connected.">	     									
				<div class="text-center">
					<a data-ng-click="removeUserSocialAccount('dropbox')" class="undecorated-link btn btn-default active">
						<img width="60" src="/modules/users/img/buttons/dropbox.png">						
					</a>			
				</div>
			</div>						
	
			<form data-ng-submit="changeUserPassword()" autocomplete="off">
				<div bs-panel title="Change Password">	     					
					<input bs-form-control type="password" ng-model="passwordDetails.currentPassword" label="Current Password"/>
			        <input bs-form-control type="password" ng-model="passwordDetails.newPassword" label="New Password"/>

			        <input bs-form-control type="password" ng-model="passwordDetails.verifyPassword" label="Verify Password"/>

			        
			        <div data-ng-show="success2" class="text-center text-success">
						<strong>Password Changed Successfully</strong>
					</div>
					<div data-ng-show="error2" class="text-center text-danger">
						<strong data-ng-bind="error2"></strong>
					</div>	
				</div>
				<div bs-panel class="form-actions">			      					
					<input type="submit" class="btn btn-large btn-primary btn-block" value="Save Password"/>												        			   
			    </div>								
			</form>	
		</div>
	</div>
</section>